.body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh; /* Garante que o contêiner ocupe a altura total da janela */
    padding-top: 60px; /* Ajuste conforme necessário para evitar sobreposição com o header */
    box-sizing: border-box;    
}

.spell{
    background-color: #EAEAEA;
    color: black;
    width: 200px;
    margin: 10px;
    height: 320px;
    border-radius: 10px;
    justify-content:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.spell img {
    width: 90%;
    height: 85%; /* Mantém a proporção da imagem */
    max-height: 400px; /* Define uma altura máxima para as imagens */
    object-fit: cover; /* Corta a imagem para preencher o contêiner */
    margin-top: 30px;
    border-radius: 10px;
}
.spell h3{
    margin-top: 5px;
}
.spell:hover{
    cursor: pointer;
    padding: 3px 3px;
}
.modal-content {
    background-color: #FFAB0D; /* Cor de fundo do modal */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
}

.modal-header, .modal-footer {
    border: none; /* Remove as bordas padrão */
}

.modal-title {
    font-family: 'Poppins', sans-serif; /* Fonte personalizada */
    font-weight: bolder;
    color: black;
}

.modal-body {
    font-family: 'Poppins', sans-serif; /* Fonte personalizada */
    color: black;
}

.modal{
    width:40vw;
    position: fixed;
    text-align: center;
    transform: translate(75%, -50%);
    background-color:#FFAB0D ;
    border-radius: 10px;
    margin-top: 60px;

}